<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="fields"
    <%= form.label :category %><br>
    <%= form.select(:category_id, options_for_select(@categories, @current_category), prompt: "Select one!") %><br><br>
    <%= form.label :file %><br>
    <%= form.file_field :file %><br><br>
    <%= form.label :name %><br>
    <%= form.text_field :name, placeholder: "Type in the post's name"%><br><br>
    <%= form.label :content %><br>
    <%= form.text_area :content, size: "60x12", placeholder: "Type in the post's content" %><br><br>
  </div>
  <div class="actions">
    <%= form.submit %><br><br>
  </div>
<% end %>
