<p id="notice"><%= notice %></p>
<div>
  <h3><%= @post.category.name %></h3>
  <hr>
  <h4><%= @post.name %></h4>
  <%= image_tag @post.file if @post.file.attachment %>
  <p><%= @post.content %></p>

  <%= link_to 'Edit', edit_post_path(@post, category_id: @post.category_id) %> |
  <%= link_to 'Back', category_path(@post.category_id) %>
</div>
